/* work-sans-500 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/work-sans-v13-latin-500.woff2') format('woff2'), 
         url('../fonts/work-sans-v13-latin-500.woff') format('woff'); 
  }
  /* work-sans-regular - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/work-sans-v13-latin-regular.woff2') format('woff2'), 
         url('../fonts/work-sans-v13-latin-regular.woff') format('woff'); 
  }


.container {
    max-width: 1160px;
    margin: auto;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans';
    color: #333333;
}

.main-list {
    display: flex;
    align-items: center;
}

.list-section {
    width: 300px;
    height: 330px;
    box-shadow: 1px 0px 10px #B7B7B7;
    margin: auto;
}

.blue-shadow {
    box-shadow: 0 -15px 0 0px #582EFF, 
    0px 0px 10px #B7B7B7;
} 

.orange-shadow {
    box-shadow: 0 -15px 0 0px #FF814A, 
    0px 0px 10px #B7B7B7;
}

.green-shadow {
    box-shadow: 0 -15px 0 0px #31C5A1, 
    0px 0px 10px #B7B7B7;
}

.list-img {
    display: block;
    margin: auto;
    margin-bottom: 55px;
    margin-top: 42px;
}

.main-list-title {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
}

.list-title {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

.list-paragraph {
    width: 228px;
    margin: auto;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.get-it-apps {
    margin: auto;
    margin-top: 30px;
    padding: 80px;
    background-color: #31C5A1;
}

.get-it-title {
    margin: auto;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #fff;
}

.get-it-under-title {
    color: #fff;
    text-align: center;
    margin: auto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
}

.downloads {
    text-align: center;
    margin: auto;
    margin-top: 25px;    
}
.foot {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.foot-img {
    display: block;
    margin-top: 43px;
    margin-left: 25px;
    padding-right: 55px;
}

.foot-item {
    list-style-type: none;
    margin: 50px 25px;
    padding: 0;
}

.foot-list {
    font-family: Work Sans;
    width: 230px;
    font-size: 17px;
    line-height: 30px;
    color: #333333;
}

.tel {
    text-decoration: none;
    color: #333333;
}

.email {
    text-decoration: none;
    color: #333333;
}