/*================================================
  #Font-Face
================================================*/
@font-face {
  font-family: "Work Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/work-sans-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/work-sans-v13-latin-regular.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  line-height: 16px;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

/*VISUALLY-HIDDEN-CODE*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

/*=================================
  #HEADER-SECTION
=================================*/

.header {
  margin-top: 45px;
  height: 60px;
}

.logo {
  margin-left: 100px;
  margin-right: auto;
  display: block;
  transition: all 0.5s ease;
}

.logo:hover {
  cursor: pointer;
  opacity: 0.7;
}

.logo:active {
  opacity: 0.4;
}

.header__items {
  display: flex;
  align-items: center;
}

.navbar__list {
  display: flex;
  margin-left: 165px;
  font-size: 15px;
  line-height: 10px;
}

.navbar__item {
  margin-right: 40px;
}

.navbar__link--active {
  color: #0082f3;
  transition: all 0.5s ease;
}

.navbar__link--active:hover {
  cursor: pointer;
  color: hsl(208, 91%, 38%);
}

.navbar__link__active:active {
  opacity: 0.4;
}

.navbar__link {
  color: #222;
}

.navbar__link:hover {
  cursor: pointer;
  color: hsl(208, 91%, 38%);
}

.navbar__link:active {
  opacity: 0.4;
}

/*===================================
  #MAIN
====================================*/

.contact__btn {
  margin-top: 20px;
  display: inline-block;
  position: fixed;
  left: -32px;
  z-index: 5;
  padding: 8px 26px;
  transform: rotate(90deg);
  color: #222;
  background-color: #39cdcc;
  transition: all 0.3s ease;
  border-radius: 0 6px 6px 0;
}

.contact--us {
  font-size: 10px;
  font-style: normal;
  line-height: 20px;
}

.contact__btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.contact__btn:active {
  opacity: 0.3;
}

.hero__items {
  margin-left: 224px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__title {
  margin-top: 165px;
  width: 306px;
  height: 120px;
  font-size: 55px;
  line-height: 60px;
  color: #222;
}

.hero__text {
  margin-top: 32px;
  margin-bottom: 30px;
  width: 434px;
  height: 70px;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.hero--image {
  margin-right: 150px;
}
.links {
  margin-right: 10px;
}


.image {
  margin-left: 224px;
  margin-bottom: 140px;
}

.own--terms__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 140px;
}

.own--terms__title {
  width: 392px;
  height: 100px;
  font-size: 45px;
  font-style: normal;
  line-height: 50px;
}

.own--terms__text {
  width: 310px;
  height: 35px;
  font-size: 24px;
  font-style: normal;
  line-height: 35px;
}
.main-list {
  display: flex;
  align-items: center;
}

.list-section {
  width: 300px;
  height: 330px;
  box-shadow: 1px 0px 10px #b7b7b7;
  margin: auto;
}

.blue-shadow {
  box-shadow: 0 -15px 0 0px #582eff, 0px 0px 10px #b7b7b7;
}

.orange-shadow {
  box-shadow: 0 -15px 0 0px #ff814a, 0px 0px 10px #b7b7b7;
}

.green-shadow {
  box-shadow: 0 -15px 0 0px #31c5a1, 0px 0px 10px #b7b7b7;
}

.list-img {
  display: block;
  margin: auto;
  margin-bottom: 55px;
  margin-top: 42px;
}

.main-list-title {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
}

.list-title {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}

.list-paragraph {
  width: 228px;
  margin: auto;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.get-it-apps {
  margin: auto;
  margin-top: 30px;
  padding: 80px;
  background-color: #31c5a1;
}

.get-it-title {
  margin: auto;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
}

.get-it-under-title {
  color: #fff;
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
}

.downloads {
  text-align: center;
  margin: auto;
  margin-top: 25px;
}

/*===================================
  #FOOTER
====================================*/

footer {
  height: 150px;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.foot-img {
  display: block;
  margin-top: 43px;
  margin-left: 25px;
  padding-right: 55px;
}

.foot-item {
  margin: 50px 25px;
  padding: 0;
}

.foot-list {
  width: 230px;
  font-size: 17px;
  line-height: 30px;
  
}

